[submodule "libs/raylib"]
	path = libs/raylib
	url = https://github.com/raysan5/raylib.git
[submodule "libs/rlImGui"]
	path = libs/rlImGui
	url = https://github.com/raylib-extras/rlImGui.git
[submodule "libs/imgui"]
	path = libs/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "libs/json"]
	path = libs/json
	url = https://github.com/nlohmann/json.git
[submodule "libs/fmt"]
	path = libs/fmt
	url = https://github.com/fmtlib/fmt.git
